{
  "name": "cg-service-<%= name %>",
  "version": "1.0.0",
  "dependencies": {
    "cg-api-common": "workspace:^",
    "cg-api-contracts": "workspace:^"
  },
  "devDependencies": {
    "cg-config": "workspace:^"
  }
}
